@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.abhere-menuitem {
  list-style-image: url("chrome://abhere2/skin/abhere16x16.png");
}

#editBookmarkPanel .resizer {
  -moz-appearance: none;
  background: none;
}
#editBookmarkPanel .resizer:hover {
  cursor: s-resize;
  background-color: -moz-menuhover;
}

#editBMPanel_folderTree {
  min-height: 40px;
}
#editBMPanel_tagsSelector {
  min-height: 40px;
}
#editBMPanel_descriptionField {
  min-height: 20px;
}

listrows {
  -moz-binding: url("chrome://abhere2/content/listbox.xml#listrows");
}

tree[disabled] {
  -moz-user-input: disabled;
  -moz-user-focus: ignore;
  color: GrayText;
}

radio[pane="pane-main"] {
  list-style-image: url("chrome://abhere2/skin/abhere32x32.png");
}
radio[pane="pane-menu"] {
  list-style-image: url("chrome://abhere2/skin/menu.png");
}
radio[pane="pane-panel"] {
  list-style-image: url("chrome://abhere2/skin/panel.png");
}
radio[pane="pane-advanced"] {
  list-style-image: url("chrome://abhere2/skin/advanced.png");
}

.subviewbutton[checked="true"] {
  background-image: url("chrome://global/skin/menu/shared-menu-check.png");
}

#menu_unsortedBookmarks {
  list-style-image: url("chrome://browser/skin/places/unsortedBookmarks.png");
}

#bookmarksShowAll, #BMB_bookmarksShowAllTop {
  list-style-image: url("chrome://browser/skin/places/allBookmarks.png");
}
